.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}


h1 {
  font-family: 'Alice';
  font-weight: 700;
  line-height: 1;
  font-size: 300px;
  text-align: center;
}

.autoprefixer {
  display: flex;
  filter: blur(5px);
}

.cssnext { background: color(red alpha(-10%)); }

.precss { @if 3 < 5 { background: green; }
          @else { background: blue; }
}
